    <!-- Header Start -->
    <div class="container-fluid bg-dark py-3 mt-4">
        <div class="container">
          <div class="d-flex flex-column justify-content-center">
            <h3 class="text-white text-uppercase">Upcoming Batches</h3>
            <p class="text-white">
              Discover the best courses to become a job ready.
            </p>
          </div>
        </div>
      </div>
      <!-- Header End -->
  
      <!-- Course Start -->
      <div class="container-fluid mt-4">
        <div class="container">
          <table
            id="myTable"
            class="table table-striped table-bordered"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>Course</th>
                <th>Batch Mode</th>
                <th>Batch Starts On</th>
                <th></th>
              </tr>
            </thead>
  
            <tbody>
              <tr>
                <td class="course-name"><strong>C Language </strong></td>
                <td>
                  Mon-Tue-Wed-Fri-Sat-Sun
                  
                </td>
                <td>22 November 2023<small> [10:00 PM - 11:00 AM] </small></td>
                <td>
                  <a
                    class="btn know-more"
                    data-toggle="modal"
                    data-target="#contactModal"
                    >Know More</a
                  >
                </td>
              </tr>
              <tr>
                <td class="course-name"><strong>Core Java </strong></td>
                <td>
                  Saturday &amp; Sunday
                  
                </td>
                <td>25 November 2023<small> [12:00 PM - 02:00 PM] </small></td>
                <td>
                  <a
                    class="btn know-more"
                    data-toggle="modal"
                    data-target="#contactModal"
                    >Know More</a
                  >
                </td>
              </tr>
       
            </tbody>
          </table>
        </div>
      </div>
      <!-- course End -->