<div class="container-fluid mt-3" style="margin-bottom: 90px">
    <div class="row">
      <div class="col-lg-7">
        <div class="top-bg bg-secondary rounded p-3">
          <div class="row">
            <div class="col-5">
              <img
                class="img-fluid rounded"
                src="../../../../assets/img/corejava.jpg"
                alt=""
              />
            </div>
            <div class="col-7"><h1>Core Java</h1></div>
          </div>
        </div>
        <div class="description mt-3">
          <h4>Course Description:</h4>
          <p>
            Java is a powerful general-purpose programming language. It is
            used to develop desktop and mobile applications, big data
            processing, embedded systems, and so on. According to Oracle, the
            company that owns Java, Java runs on 3 billion devices worldwide,
            which makes Java one of the most popular programming languages.
          </p>
        </div>        
       
      </div>
      <div class="col-lg-5 mb-3">
        <app-enroll></app-enroll>
      </div>
    </div>
    <hr class="line">
    <div class="chapter">
      <h4>INTRODUCTION TO JAVA</h4>
      <ul>
        <li>What is Java</li>
        <li>History and Features of Java</li>
        <li>Application Areas of Java</li>
        <li>Platform Independency in Java</li>
        <li>Different Java Platforms</li>
        <li>Difference between JDK,JRE,JVM</li>
        <li>Java Versions</li>
        <li>JVM Architecture</li>
        <li>Understanding Path Variable: Why Set Path</li>
        <li>Download and Install tools</li>
        <li>Creating first Java application using CMD</li>
        <li>How to compile java file</li>
        <li>Byte Code and class file</li>
        <li>How to run class file</li>
      </ul>
    </div>     <hr class="line">
    <div class="chapter">
      <h4>JAVA LANGUAGE FUNDAMENTALS</h4>
      <ul>
        <li>Identifiers & Keywords</li>
        <li>Variables & Literals</li>
        <li>Data Types(Primitive and Non-Primitive)</li>
        <li>Operators</li>
        <li>Comments</li>
        <li>Looping Statements(for, while, do-while)</li>
        <li>Condition Statements</li>
        <li>Type Casting(Upcasting and Downcasting)</li>
      </ul>
    </div>     <hr class="line">
    <div class="chapter">
      <h4>OOP IMPLEMENTATION</h4>
      <ul>
        <li>Understanding OOP</li>
        <li>OOP Concepts with Real life examples</li>
        <li>Class& it's Syntax</li>
        <li>Object& it's Syntax</li>
        <li>Reference Variable</li>
        <li>Constructors</li>
        <li>Instance(Non-Static)& Static Variables</li>
        <li>Instance(Non-Static) & Static Methods</li>
        <li>this Keyword and it's usages</li>
        <li>Object & Static Initializers(Anonymous Blocks)</li>
        <li>Understanding '+' Operator</li>
        <li>Inheritance& it's Syntax</li>
        <li>Types of Inheritance</li>
        <li>Object Class as Root of Java Class Hierarchy</li>
        <li>Variable Hiding</li>
        <li>Method Hiding</li>
        <li>Method Overriding</li>
        <li>Method Overloading</li>
        <li>Super keyword and it's usages</li>
        <li>
          Final keyword (Final Variable, Final method & Final class)
        </li>
        <li>Constructor Chaining</li>
        <li>Upcasting and Downcasting</li>
        <li>Static &Dynamic Binding</li>
        <li>Run Time Polymorphism</li>
        <li>Abstract Keyword(Abstract classes and methods)</li>
        <li>Understanding Interfaces</li>
        <li>Implementation of Encapsulation</li>
        <li>Association with Implementation</li>
        <li>NESTED TYPES</li>
        <li>Non-static Nested Class</li>
        <li>Local Class</li>
        <li>Anonymous Class</li>
        <li>Nested Interface</li>
      </ul>
    </div>     <hr class="line">
    <div class="chapter">
      <h4>PACKAGES</h4>
      <ul>
        <li>Understanding Packages</li>
        <li>Setting Class path</li>
        <li>Reading Input from Keyboard</li>
        <li>Access Modifiers</li>
      </ul>
    </div>     <hr class="line">
    <div class="chapter">
      <h4>ARRAYS</h4>
      <ul>
        <li>Definition of Array</li>
        <li>Advantages from Array</li>
        <li>Arrays in Java</li>
        <li>1D Arrays</li>
        <li>2D Arrays</li>
        <li>Multi Dimensional Arrays</li>
        <li>Array of reference type</li>
        <li>Operations on Arrays</li>
      </ul>
    </div>     <hr class="line">
    <div class="chapter">
      <h4>STRINGS</h4>
      <ul>
        <li>What is String</li>
        <li>String Class</li>
        <li>Creating String Object</li>
        <li>Operations on String</li>
        <li>String Buffer Class and it's Methods</li>
        <li>Difference between String and StringBuffer class</li>
        <li>String Builder Class and it's Methods</li>
        <li>Difference between StringBuffer and StringBuilder</li>
      </ul>
    </div>     <hr class="line">
    <div class="chapter">
      <h4>COMMAND LINE ARGUMENTS AND WRAPPER CLASSES</h4>
      <ul>
        <li>How to read command line arguments</li>
        <li>Wrapper Classes</li>
        <li>Parsing of Numeric Strings</li>
        <li>String representation of Primitives</li>
        <li>Var-args (Variable-Arguments)</li>
      </ul>
    </div>     <hr class="line">
    <div class="chapter">
      <h4>EXCEPTION HANDLING</h4>
      <ul>
        <li>Types of Runtime Errors</li>
        <li>>Understanding Exceptions</li>
        <li>Exception Class Hierarchy</li>
        <li>Try & Catch Blocks</li>
        <li>Patterns of Catch Block</li>
        <li>Nested Try statements</li>
        <li>Throw, throws and finally</li>
        <li>Creating Custom Exceptions</li>
        <li>Checked & Unchecked Exceptions</li>
        <li>Assertion</li>
      </ul>
    </div>     <hr class="line">
    <div class="chapter">
      <h4>MULTITHREADED PROGRAMMING</h4>
      <ul>
        <li>Multitasking: Why Concurrent Execution</li>
        <li>Multiprocessing v/s Multithreading</li>
        <li>Main Thread (Default Java Thread)</li>
        <li>
          Creating Child Threads and understanding context switching
        </li>
        <li>Thread States</li>
        <li>Thread Group</li>
        <li>Thread Synchronization: Methods and Blocks</li>
        <li>Inter-Thread communication</li>
        <li>Daemon Threads</li>
        <li>Deadlock</li>
      </ul>
    </div>     <hr class="line">

    <div class="chapter">
      <h4>I/O STREAMS</h4>
      <ul>
        <li>What is I/O</li>
        <li>Why Need Streams</li>
        <li>Byte Streams and Character Streams</li>
        <li>Read/Write operations with file</li>
        <li>Scanner Class</li>
        <li>File Class and it's Methods</li>
      </ul>
    </div>     <hr class="line">
    <div class="chapter">
      <h4>EXTENDED & UTILITY CONCEPTS</h4>
      <ul>
        <li>Generics</li>
        <li>Lambda Expression</li>
        <li>Annotations</li>
        <li>Object Cloning</li>
        <li>Vargs</li>
        <li>Static-import</li>
        <li>Enum</li>
        <li>Static, Default and Private Methods of Interface</li>
        <li>Var Type</li>
        <li>Java Modules</li>
      </ul>
    </div>     <hr class="line">
    <div class="chapter">
      <h4>COLLECTIONS FRAMEWORK</h4>
      <ul>
        <li>Understanding Collection Framework</li>
        <li>Core Interfaces</li>
        <li>Collection, List, Queue,Deque</li>
        <li>Set,NavigableSet, SortedSet</li>
        <li>Map,NavigableMap, SortedMap</li>
        <li>Core Classes</li>
        <li>ArrayList, LinkedList,PriorityQueue,ArrayDeque</li>
        <li>HashSet,LinkedHasSet,TreeSet,</li>
        <li>
          HashMap,IdentityHashMap,WeakHashMap,LinkedHashMap,Tree Map
        </li>
        <li>Accessing a Collection via an Iterator</li>
        <li>Accessing List via ListIterator</li>
        <li>Accessing a Collection via for each loop</li>
        <li>Working with User Defined Objects</li>
        <li>The Comparator and Comparable Interfaces</li>
        <li>The Legacy classes and Interfaces.</li>
        <li>Enumeration, Vector ,Stack</li>
        <li>Hashtable, Properties</li>
      </ul>
    </div>     <hr class="line">
    <div class="chapter">
      <h4>
        INTRODUCTION TO SQL (PROJECT BASED) AND DATABASE PROGRAMMING USING
        JDBCC
      </h4>
      <ul>
        <li>Need Of JDBC</li>
        <li>JDBC Drivers</li>
        <li>Statement, PreparedStatement, CallableStatement</li>
        <li>Scrollable and Updatable ResultSet</li>
        <li>Batch Updates</li>
        <li>Transaction</li>
        <li>Metadata</li>
      </ul>
    </div> 
  </div>