<div class="container-fluid mt-3" style="margin-bottom: 90px">
    <div class="row">
      <div class="col-lg-7">
        <div class="top-bg bg-secondary rounded p-3">
          <div class="row">
            <div class="col-5">
              <img
                class="img-fluid rounded"
                src="../../../../assets/img/webdesign.jpg"
                alt=""
              />
            </div>
            <div class="col-7"><h1>Web Designing</h1></div>
          </div>
        </div>
        <div class="description mt-3">
          <h4>Course Description:</h4>
          <p>
            Web design is the process of planning, conceptualizing, and
            Implementing the plan for designing a website in a way that is
            Provides a good user experience and is functional. . User
            experience is Central to the web design process. Websites have an
            array of The elements are presented in a way that makes them easy
            to navigate. Web The process of designing involves working on
            every aspect of the product A website that people can interact
            with, so that it is easy to use And efficient, it allows users to
            quickly find the information they Need, and look visually
            pleasing. All these factors, when Combined, they determine the
            quality of the website's design.
          </p>
        </div>
      </div>
      <div class="col-lg-5 mb-3">
        <div class="justify-content-center">
          <div class="contact-form bg-secondary rounded p-3">
            <h5>
              Fill up the form and we will get back to you as soon as
              Possible.
            </h5>

            <div id="success"></div>
            <form name="sentMessage" id="contactForm" novalidate="novalidate">
              <div class="control-group">
                <input
                  type="text"
                  class="form-control border-0 p-4"
                  id="name"
                  placeholder="Your Name"
                  required="required"
                  data-validation-required-message="Please enter your name"
                />
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <input
                  type="number"
                  class="form-control border-0 p-4"
                  id="phone"
                  placeholder="Your Number"
                  required="required"
                  data-validation-required-message="Please enter your email"
                />
                <p class="help-block text-danger"></p>
              </div>

              <div class="control-group">
                <textarea
                  class="form-control border-0 py-3 px-4"
                  rows="2"
                  id="message"
                  placeholder="Your Message (Optional)"
                  required="required"
                  data-validation-required-message="Please enter your message"
                ></textarea>
                <p class="help-block text-danger"></p>
              </div>
              <div class="text-center">
                <button
                  class="btn btn-primary py-3 px-5"
                  type="submit"
                  id="sendMessageButton"
                >
                  Get a call
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div>
      <hr class="line">
      <div class="chapter">
        <h4>Introduction of web design</h4>
        <ul>
          <li>History of WWW</li>
          <li>What is website?</li>
          <li>Difference between Server & Browser</li>
          <li>What is Domain, Deployment & Hosting</li>
        </ul>
      </div>
      <hr class="line">
      <div class="chapter">
        <h4>HTML</h4>
        <ul>
        <li>  What is Markup Language</li>
          <li>Basic Structure of HTML</li>
          <li>Difference Between HTML and XHTML</li>
          <li>Creating First Web Page</li>
          <li>Understanding Basics of Web Page</li>
          <li>Requirement of DOCTYPE</li>
          <li>Tag vs Element</li>
          <li>Meta Tags</li>
          <li>CSS Tags</li>
          <li>Script Tags</li>
          <li>HTML Headings</li>
          <li>Creating HyperLinks</li>

          <ul>
            <li>Anchor Tag</li>
          </ul>

          <li>Tag Anatomy</li>
          <li>HTML Comments</li>
          <li>Setting the Colors</li>
          <li>Working with Images</li>
          <ul>
            <li>HTML < img > tag</li>
            <li>Understanding “alt” attribute</li>
            <li>Image as link</li>
          </ul>

          <li>HTML Favicon Image</li>
          <li>Line Break & Horizontal Line</li>
          <li>< div > tag</li>
          <li>HTML Center Tag</li>
          <li>Text Formating</li>
          <ul>
            <li>Bold</li>
            <li>Italic</li>
            <li>Underline</li>
            <li>Strike</li>
            <li>Marked</li>
            <li>Smaller</li>
            <li>Big</li>
            <li>Quote</li>
          </ul>
          <li>HTML List</li>
          <ul>
            <li>OrderedList < ol ></li>
            <li>UnorderedList < ul ></li>
            <li>DifinationList < dl ></li>
          </ul>
          <li>Creating Tables</li>
          <li>Understanding table structure</li>
        </ul>
      </div> <hr class="line">
      <div class="chapter">
        <h4>CSS</h4>
        <ul>
         <li> Introduction to Cascading Style Sheets</li>
          <li>History of CSS</li>
          <li>Types of CSS • • Inline,Internal & External</li>

          <li>Understanding CSS syntax</li>
          <li>
            CSS selectors
            <ul>
              <li>Tag selector</li>
              <li>ID selector</li>
              <li>Class selector</li>
              <li>Group selector</li>
              <li>Universal selector</li>
              <li>Combinator selector</li>
              <li>Descendent selector</li>
              <li>Child selector</li>
              <li>Adjacent Sibling selector</li>
              <li>General Sibling selector</li>
            </ul>
          </li>

          <li>Color Formats</li>
          <li>Design Customisations with and tag</li>
          <li>Border CSS property</li>
          <li>Round Border property</li>
          <li>Outline CSS property</li>
          <li>Working with height & width property</li>
          <li>Understanding max-width value</li>
          <li>Margin & Padding property</li>
          <li>Background property</li>
          <ul>
            <li>Background color</li>
            <li>Background Image</li>
            <li>Background repeat</li>
            <li>Background attachment</li>
          </ul>
          <li>Background Gradient</li>
          <ul>
            <li>Linear</li>
            <li>Radial</li>
          </ul>
          <li>Text Formating</li>
          <ul>
            <li>Align</li>
            <li>Direction</li>
            <li>Decoration</li>
            <li>Transform</li>
            <li>Intent</li>
            <li>Spacing</li>
            <li>Line Height</li>
            <li>Word Spacing</li>
            <li>Text Shadow</li>
          </ul>
          <li>Box Shadow</li>
          <li>Float Property</li>
          <li>Font Property</li>
          <li>Display Property</li>
          <li>Creating Page Layout</li>
        </ul>
      </div> <hr class="line">
      <div class="chapter">
        <h4>HTML 5</h4>
        <ul>
          <li>Introduction to HTML 5</li>
          <li>Features of HTML5</li>
          <li>HTML Form</li>
          <li>Creating DataEntry Form</li>
          <li>Input with every type of data</li>
          <ul>
            <li>Text</li>
            <li>Number</li>
            <li>Email</li>
            <li>Password</li>
            <li>Range</li>
            <li>Tel</li>
            <li>Color</li>
            <li>Url</li>
            <li>Date</li>
            <li>Time</li>
            <li>Month</li>
            <li>Week</li>
            <li>Radio</li>
            <li>Checkbox</li>
            <li>File</li>
          </ul>
          <li>Creating Dropdown List</li>
          <li>Creating Buttons(Submit,Reset,Image)</li>
          <li>Creating MultiLine Input box</li>
          <li>Form Validation with “pattern” attribute</li>
          <li>HTML Character Entities</li>
          <li>HTML < sub > and < sup > tags</li>
          <li>HTML Semantic Elements</li>
          <ul>
            <li>< article ></li>
            <li>< section ></li>
            <li>< details ></li>
            <li>< figure ></li>
            <li>< figcaption ></li>
            <li>< header ></li>
            <li>< footer ></li>
            <li>< nav ></li>
            <li>< main ></li>
            <li>< summary ></li>
          </ul>
          <li>Creating webpage inside a webpage</li>
          <ul>
            <li>< iframe > tag</li>
          </ul>
          <li>Play Video</li>
          <ul>
            <li>< video > tag</li>
          </ul>
          <li>Play Audio</li>
          <ul>
            <li>< audio > tag</li>
          </ul>
          <li>Play Youtube video on your webpage</li>
          <li>HTML < meta > tag</li>
          <li>Canvas and Svg Tag</li>
        </ul>
      </div> <hr class="line">
      <div class="chapter">
        <h4>Project Work</h4>
      </div> <hr class="line">
      <div class="chapter">
        <h4>CSS 3</h4>
        <ul>
          <li>Introduction to CSS 3</li>
          <li>Position Property</li>
          <li>Z-Index Property</li>
          <li>Opacity Property</li>
          <li>Overflow Property</li>
          <li>Creating a division in Horizontal center</li>
          <li>Pseudo class</li>
          <li>Navigation Vertical</li>
          <li>Navigation Horizontal</li>
          <li>Filter Property</li>
          <li>Transition Property</li>
          <ul>
            <li>Timing Functions</li>
          </ul>
          <li>Transform Property</li>
          <ul>
            <li>Translate</li>
            <li>Rotate</li>
            <li>Scale</li>
            <li>Skew</li>
          </ul>
        </ul>
      </div> <hr class="line">
      <div class="chapter">
        <h4>Project Work</h4>
      </div> <hr class="line">
      <div class="chapter">
        <h4>JavaScript</h4>
        <ul>
          <li>Introduction to Client Side Scripting</li>
          <li>Introduction to Java Script</li>
          <li>Creating Popup Dialog</li>
          <li>Ways for adding JS in HTML page</li>
          <li>Plain JS</li>
          <li>JS using Function</li>
          <li>Change Text using JS</li>
          <li>Operators</li>
          <ul>
            <li>Assignment</li>
            <li>Arithmetic</li>
            <li>ShortHand</li>
            <li>Increment-Decrement</li>
            <li>Relational</li>
            <li>Logical</li>
          </ul>
          <li>Decision Making</li>

          <ul>
            <li>If</li>
            <li>If-else</li>
            <li>If-else-if</li>
            <li>Switch</li>
          </ul>
          <li>Loop Controls</li>
          <ul>
            <li>For loop</li>
            <li>While loop</li>
            <li>Do-while loop</li>
          </ul>
          <li>Window methods</li>
          <li>Document methods</li>
          <li>Arrays</li>
          <li>String</li>
          <li>String methods</li>
          <li>Change CSS using JS</li>
          <li>JS Events</li>
          <ul>
            <li>Click event</li>
            <li>Key event</li>
            <li>Mouse event</li>
            <li>Focus event</li>
            <li>Load event</li>
            <li>Scroll event</li>
            <li>Resize event</li>
          </ul>
        </ul>
      </div> <hr class="line">
      <div class="chapter">
        <h4>Project Work</h4>
      </div> <hr class="line">

      <div class="chapter">
        <h4>JQuery</h4>
        <ul>
          <li>Introduction & History of JQuery</li>
          <li>Using JQ manually</li>
          <li>Using JQ CDN</li>
          <li>Change CSS using JQ</li>
          <li>JQ Events</li>
          <li>JQ Effects</li>
          <li>Using JQuery based plugins</li>
          <li>Image Gallery (LightBox) using JQ</li>
        </ul>
      </div> <hr class="line">
      <div class="chapter">
        <h4>Bootstrap Framework</h4>
        <ul>
          <li>Getting started with Bootstrap</li>
          <li>Grid system in Bootstrap</li>
          <li>Adding Header & Navigation</li>
          <li>Adding Logo in Navigation Bar & Adding Banner</li>
          <li>Adding Jumbotron</li>
          <li>Adding Rows, Columns & Containers</li>
          <li>
            Adding Column Width using offset Ordering Columns using push or
            pull
          </li>
          <li>
            Nesting Columns in Bootstrap Adding Footer top Website
            Typography in Bootstrap
          </li>
          <li>Adding Responsive or Utilities in Bootstrap</li>
          <li>Styling Button using between classes</li>
          <li>Styling Images and making images Responsive</li>
        </ul>
      </div> <hr class="line">
      <div class="chapter">
        <h4>Project Work</h4>
      </div> <hr class="line">
      <div class="chapter">
        <h4>Making the website live:</h4>
        <ul>
          <li>Deploying & Hosting on server</li>
        </ul>
      </div>
    </div>
  </div>