.course-name{
    color: #E40000;
}
.know-more{
    color: #fff;
    background-color: #0078e8 !important;
}
.know-more:hover{
    
    color: #fff;
}
.chapter{
    margin-bottom: 1rem;
}
.chapter h4{
    
        color: #0078e8 !important;
        background-color: #F2F1F8 !important;
        padding: 13px;
        border-radius: 0px 5px 5px 0;
        font-size: 100%;
        font-weight: bold;
        border-bottom: 2px solid #E40000;
        }
