<!-- Header Start -->
<div class="container-fluid page-header" style="margin-bottom: 90px">
    <div class="container">
      <div
        class="d-flex flex-column justify-content-center"
        style="min-height: 300px"
      >
        <h3 class="display-4 text-white text-uppercase">About</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0 text-uppercase">
            <a class="text-white" href="">Home</a>
          </p>
          <i class="fa fa-angle-double-right pt-1 px-3"></i>
          <p class="m-0 text-uppercase">About</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->

  <!-- About Start -->
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <img
            class="img-fluid rounded mb-4 mb-lg-0"
            src="assets/img/about.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-7">
          <div class="text-left mb-4">
            <h5
              class="text-primary text-uppercase mb-3"
              style="letter-spacing: 5px"
            >
              About Us
            </h5>
            <h1>
              Empowering Minds, Shaping Futures: Your Path to Success Begins
              Here
            </h1>
          </div>
          <h5>Introduction to Us</h5>
          <p>
            In a rapidly shifting world, the need for continuous learning and
            development remains fundamental for success. Us, is at the
            vanguard of this quest. We facilitate growth through robust and
            unparalleled training programs designed to provide individuals and
            organizations with the skills and knowledge necessary to meet
            contemporary challenges head-on. Our aim is to nurture individuals
            with proficiency, adaptability, and values that match the evolving
            demands of both the job market and society.
          </p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-5">
          <div class="mb-4">
            <h5>Background of the Training Program</h5>
            The genesis of our training program lies in acknowledging the
            dynamic nature of the human resource landscape. With industrial
            revolutions and advancements in technology, job descriptions and
            requirements have changed extendedly, calling for additional,
            refined skills. To this end, the program was developed to help
            learners acquire and refine these requisite skills and
            capabilities. This forms part of the broader efforts to close the
            skills gap and provide comprehensive support for individual
            development and workforce readiness.
          </div>
        </div>
        <div class="col-lg-7">
          <div class="mb-4">
            <h5>Importance of the Training Program</h5>
            Our training program plays a crucial role in equipping individuals
            with contemporary skills and concepts. The value of such programs
            in today’s organizational dynamics cannot be understated.
            Professionals across all industry sectors are faced with rapidly
            changing work environments and our program assists in honing their
            skill set to respond effectively. Further, the program helps teams
            enhance their collaboration and communication skills, which are
            integral to high-performance levels in workplaces. Additionally,
            through this training, employees can identify their career
            aspirations and make insightful decisions towards achieving them.
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-5">
          <div class="mb-4">
            <h5>Core Components of the Training Program</h5>
            A standout feature of our program is its multifaceted approach
            that focuses on various aspects of personal development. For
            instance, it emphasizes knowledge acquisition, where learners are
            exposed to new concepts and trends in their industry. Likewise, it
            zeroes in on skill-building, working on both hard and soft skills
            that may be necessary for a specific job. Leadership development
            is another crucial element that prepares the learners for
            leadership roles. To ensure effectiveness and encourage
            engagement, our training program is centered on interactive
            lectures and experiential learning activities. We apply a range of
            methods from case studies, team projects, simulations, to guest
            lectures from industry experts. This helps provide the students
            with application-oriented learning experiences, where they have
            the opportunity to integrate theoretical knowledge with practical
            situations.
          </div>
        </div>
        <div class="col-lg-7">
          <div class="mb-4">
            <h5>Evaluation and Feedback Mechanisms</h5>
            To ascertain the success of the training program, there are
            multiple evaluation and feedback mechanisms in place. We use
            assessment techniques like tests, quizzes, and practical
            assignments to evaluate the proficiency of learners. This way, we
            monitor their progress and identify areas of weakness to focus on
            in future sessions. Regular feedback is also sought from the
            participants to understand their perspectives and make necessary
            adjustments. Our training program feedback is two-fold. It
            involves feedback from participants to the trainers and vice
            versa. This helps us to maintain an open communication channel and
            foster a conducive learning environment. The feedback received
            helps in continually enhancing the program to meet the dynamic
            needs of the participants.
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- Registration Start -->
  <div class="container-fluid bg-registration py-5" style="margin: 90px 0">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-lg-7 mb-5 mb-lg-0">
          <div class="mb-4">
            <h5
              class="text-primary text-uppercase mb-3"
              style="letter-spacing: 5px"
            >
              Need Any Courses
            </h5>
            <h1 class="text-white">30% Off For New Students</h1>
          </div>
          <p class="text-white">
            Are you a new student looking for the best deals in town? Well,
            look no further! We are excited to offer you an exclusive discount
            of 30% off on all our services. Whether you need educational
            resources, tutoring sessions, or study materials, our platform has
            got you covered.
          </p>

          <ul class="list-inline text-white m-0">
            <li class="py-2">
              <i class="fa fa-check text-primary mr-3"></i>Quality: Our
              platform is renowned for its high-quality resources and
              services. You don't have to compromise on excellence while
              enjoying the benefits of a discount.
            </li>
            <li class="py-2">
              <i class="fa fa-check text-primary mr-3"></i>Variety: We offer a
              diverse range of products and services to cater to your specific
              needs as a new student. Whether you require textbooks, online
              courses, or personalized tutoring, our platform has it all.
            </li>
            <li class="py-2">
              <i class="fa fa-check text-primary mr-3"></i>Expertise: Our team
              consists of knowledgeable and experienced educators who are
              dedicated to helping students like you succeed. With their
              guidance and expertise, you can maximize your learning
              potential.
            </li>
          </ul>
        </div>
        <div class="col-lg-5">
          <div class="card border-0">
            <div class="card-header bg-light text-center p-4">
              <h1 class="m-0">Sign Up Now</h1>
            </div>
            <div class="card-body rounded-bottom bg-primary p-5">
              <form>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control border-0 p-4"
                    placeholder="Your name"
                    required="required"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control border-0 p-4"
                    placeholder="Your email"
                    required="required"
                  />
                </div>
                <div class="form-group">
                  <select
                    class="custom-select border-0 px-4"
                    style="height: 47px"
                  >
                    <option selected>Select a course</option>
                    <option value="1">Course 1</option>
                    <option value="2">Course 1</option>
                    <option value="3">Course 1</option>
                  </select>
                </div>
                <div>
                  <button
                    class="btn btn-dark btn-block border-0 py-3"
                    type="submit"
                  >
                    Sign Up Now
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Registration End -->
