<!-- Header Start -->
<div class="container-fluid page-header">
  <div class="container">
    <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
      <h3 class="display-4 text-white text-uppercase">About</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0 text-uppercase">
          <a class="text-white" routerLink="/">Home</a>
        </p>
        <i class="fa fa-angle-double-right pt-1 px-3"></i>
        <p class="m-0 text-uppercase">About</p>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/about.jpg" alt="" />
      </div>
      <div class="col-lg-7">
        <div class="text-left mb-4">
          <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px">
            About Us
          </h5>
          <h1>
            Our highest priority is to help you build skills that will help you in your career
          </h1>
        </div>
        <h5>Introduction to Us</h5>
        <p>
          Coding Program is a Training Institute.We deliver online and offline learning programs and industrial training
          to kids, undergraduate engineering students, college graduates, and working professionals.It is operated and
          supported by SurajExpo Software Pvt Ltd, New Delhi, which provides software solutions to businesses.Our
          mission is to provide online and offline content delivery and skill development programs to undergraduate
          engineering students, college graduates, and working professionals.

        </p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-5">
        <div class="mb-4">
          <h5>Background of the Training Program</h5>
          CodingProgram caters to all levels of expertise. With its carefully crafted curriculum, hands-on projects, and
          experienced instructors, this program will empower you to confidently tackle real-world coding challenges. So,
          get ready to unlock your coding potential and join this exciting journey with CodingProgram!
        </div>
      </div>
      <div class="col-lg-7">
        <div class="mb-4">
          <h5>Importance of the Training Program</h5>
          CodingProgram offers a friendly and supportive environment where participants can learn and master essential
          coding skills. By participating in this program, individuals gain a competitive edge in the job market and
          open up exciting career opportunities in various fields, from software development to data analysis. The
          hands-on training and practical exercises provided by the CodingProgram enable participants to apply their
          knowledge and build real-world projects, boosting their confidence and sharpening their problem-solving
          abilities.
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-5">
        <div class="mb-4">
          <h5>Core Components of the Training Program</h5>
          This interactive approach not only fosters a deeper understanding of coding principles but also cultivates
          problem-solving skills essential for success in the industry. Alongside the practical component, the program
          also incorporates comprehensive theoretical modules that cover a wide range of coding languages and concepts.
          From HTML and CSS to JavaScript and Python, participants receive a thorough introduction to these fundamental
          languages, equipping them with the necessary skills to build functional websites and applications.
        </div>
      </div>
      <div class="col-lg-7">
        <div class="mb-4">
          <h5>Evaluation and Feedback Mechanisms</h5>
          The program has a friendly and supportive environment, ensuring that students feel comfortable and motivated
          to seek feedback. Through regular evaluations, students receive constructive criticism that helps them refine
          their coding skills and identify any gaps in their knowledge. Additionally, feedback is not only given by
          instructors but also by peers, creating a collaborative and interactive learning experience. This feedback
          loop enables students to grow and develop their coding abilities effectively. So, whether you're a beginner or
          an experienced coder, the evaluation and feedback mechanisms in the CodingProgram are designed to help you
          excel in your coding journey.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Registration Start -->
<div class="container-fluid bg-registration py-5" style="margin: 90px 0">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <div class="mb-4">
          <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px">
            Need Any Courses
          </h5>
          <h1 class="text-white">30% Off For New Students</h1>
        </div>
        <p class="text-white">
          Are you a new student looking for the best deals in town? Well,
          look no further! We are excited to offer you an exclusive discount
          of 30% off on all our services. Whether you need educational
          resources, tutoring sessions, or study materials, our platform has
          got you covered.
        </p>

        <ul class="list-inline text-white m-0">
          <li class="py-2">
            <i class="fa fa-check text-primary mr-3"></i>Quality: Our
            platform is renowned for its high-quality resources and
            services. You don't have to compromise on excellence while
            enjoying the benefits of a discount.
          </li>
          <li class="py-2">
            <i class="fa fa-check text-primary mr-3"></i>Variety: We offer a
            diverse range of products and services to cater to your specific
            needs as a new student. Whether you require textbooks, online
            courses, or personalized tutoring, our platform has it all.
          </li>
          <li class="py-2">
            <i class="fa fa-check text-primary mr-3"></i>Expertise: Our team
            consists of knowledgeable and experienced educators who are
            dedicated to helping students like you succeed. With their
            guidance and expertise, you can maximize your learning
            potential.
          </li>
        </ul>
      </div>
      <div class="col-lg-5">
        <div class="card border-0">
          <div class="card-header bg-light text-center p-4">
            <h1 class="m-0">Sign Up Now</h1>
          </div>
          <div class="card-body rounded-bottom bg-primary p-5">
            <form>
              <div class="form-group">
                <input type="text" class="form-control border-0 p-4" placeholder="Your name" required="required" />
              </div>
              <div class="form-group">
                <input type="email" class="form-control border-0 p-4" placeholder="Your email" required="required" />
              </div>
              <div class="form-group">
                <select class="custom-select border-0 px-4" style="height: 47px">
                  <option selected>Select a course</option>
                  <option value="1">Course 1</option>
                  <option value="2">Course 1</option>
                  <option value="3">Course 1</option>
                </select>
              </div>
              <div>
                <button class="btn btn-dark btn-block border-0 py-3" type="submit">
                  Sign Up Now
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Registration End -->