<div class="container-fluid mt-3" style="margin-bottom: 90px">
    <div class="row">
        <div class="col-lg-7">
            <div class="top-bg bg-secondary rounded p-3">
                <div class="row">
                    <div class="col-5">
                        <img class="img-fluid rounded" src="../../../../assets/img/python.jpg" alt="" />
                    </div>
                    <div class="col-7">
                        <h1>Python Programming</h1>
                    </div>
                </div>
            </div>
            <div class="description mt-3">
                <h4>Course Description:</h4>
                <p>
                    Python is a high-level, general-purpose, and very popular programming language. Python programming
                    language (latest Python 3) is being used in web development, Machine Learning applications, along
                    with all cutting-edge technology in Software Industry.

                    Python language is being used by almost all tech-giant companies like – Google, Amazon, Facebook,
                    Instagram, Dropbox, Uber… etc.
                </p>
            </div>
        </div>
        <div class="col-lg-5 mb-3">
            <app-enroll></app-enroll>
        </div>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Introduction to Python</h4>
        <ul>
            <li> What is Python and history of Python?</li>
            <li> Unique features of Python</li>

            <li>Install Python and Environment Setup</li>
            <li> First Python Program</li>
            <li> Python Identifiers, Keywords and Indentation</li>
            <li> Comments and document interlude in Python</li>
            <li> Command line arguments</li>
            <li> Getting User Input</li>
            <li>Python Data Types</li>
            <li> What are variables?</li>
            <li> Python Core objects and Functions</li>
            <li> Number and Maths</li>
            <li> Week 1 Assignments</li>
        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4> Control Statements </h4>
        <ul>
            <li> if-else </li>
            <li> if-elif-else </li>
            <li> while loop </li>
            <li> for loop </li>
            <li>break </li>
            <li> continue </li>
            <li>assert </li>
            <li> pass </li>
            <li> return </li>

        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4> List, Ranges & Tuples in Python </h4>
        <ul>
            <li> Introduction </li>
            <li> Lists in Python </li>
            <li> More about Lists </li>
            <li> Understanding Iterators </li>
            <li> Generators, Comprehensions and Lambda Expressions </li>
            <ul>
                <li>Introduction </li>
                <li>Generators and Yield </li>
                <li>Next and Ranges </li>
            </ul>
            <li> Understanding and using Ranges </li>
            <li> More About Ranges </li>
            <li> Ordered Sets with tuples </li>
        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4> Python Dictionaries and Sets </h4>
        <ul>
            <li> Introduction to the section </li>
            <li> Python Dictionaries </li>
            <li> More on Dictionaries </li>
            <li>Sets
            <li> Python Sets Examples </li>


        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Input and Output in Python </h4>
        <ul>
            <li>Reading and writing text files </li>
            <li> writing Text Files </li>
            <li> Appending to Files and Challenge </li>
            <li> Writing Binary Files Manually </li>
            <li> Using Pickle to Write Binary Files </li>

        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Python built in function </h4>
        <ul>
            <li>Python user defined functions </li>
            <li> Python packages functions </li>
            <li> Defining and calling Function </li>
            <li> The anonymous Functions </li>
            <li> Loops and statement in Python </li>
            <li> Python Modules & Packages </li>

        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Python Object Oriented </h4>
        <ul>
            <li>Overview of OOPs </li>
            <li> The self variable </li>
            <li> Constructor </li>
            <li> Types Of Variables </li>
            <li> Namespaces </li>
            <li>Creating Classes and Objects </li>
            <li> Inheritance </li>
            <li>Types of Methods </li>
            <ul>
                <li>Instance Methods </li>
                <li> Static Methods </li>
                <li> Class Methods</li>
            </ul>
            <li> Accessing attributes </li>
            <li> Built-In Class Attributes </li>
            <li> Destroying Objects </li>
            <li> Abstract classes and Interfaces </li>
            <li> Abstract Methods and Abstract class </li>
            <li> Interface in Python </li>
            <li>Abstract classes and Interfaces </li>
        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Exceptions</h4>
        <ul>
            <li> Errors in Python </li>
            <li>Compile-Time Errors </li>
            <li> Runtime Errors </li>
            <li> Logical Errors </li>
            <li>What is Exception? </li>
            <li> Handling an exception </li>
            <li> try….except…else </li>
            <li> try-finally clause </li>
            <li>Argument of an Exception </li>
            <li> Python Standard Exceptions </li>
            <li> Raising an exceptions </li>
            <li>User-Defined Exceptions </li>


        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Python Regular Expressions</h4>
        <ul>
            <li> What are regular expressions? </li>
            <li>The match Function </li>
            <li> The search Function </li>
            <li> Matching vs searching </li>
            <li> Search and Replace </li>
            <li> Extended Regular Expressions </li>
            <li>Wildcard </li>

        </ul>
    </div>
    <hr class="line">

    <div class="chapter">
        <h4>Python Multithreaded Programming</h4>
        <ul>
            <li> What is multithreading? </li>
            <li> Difference between a Process and Thread </li>
            <li> Concurrent Programming and GIL </li>
            <li> Uses of Thread </li>
            <li>Starting a New Thread </li>
            <li>The Threading Module </li>
            <li> Thread Synchronization </li>
            <li> Locks </li>
            <li> Semaphore </li>
            <li>Deadlock of Threads </li>
            <li> Avoiding Deadlocks </li>
            <li> Daemon Threads </li>
        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Storage Classes</h4>
        <ul>
            <li>Storage Classes
            </li>
            <li> extern Keyword </li>
            <li>Static Variables</li>
            <li>Initialization of Static Variables</li>
            <li>Static Functions </li>
            <li>Understanding “volatile” Qualifier</li>
            <li>Understanding the “register” Keyword </li>
        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Memory Management</h4>
        <ul>
            <li>Memory Layout of C Programs</li>
            <li>Dynamic Memory Allocation</li>
            <li>Difference Between malloc() and calloc()</li>
            <li>What is a Memory Leak?</li>
            <li>Dynamic Array</li>
            <li>Dynamically Allocate a 2D Array </li>
            <li>Dynamically Growing Array </li>

        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4> Preprocessor</h4>
        <ul>
            <li>C Preprocessors</li>
            <li>Preprocessor Directives</li>
            <li>How a Preprocessor Works ?</li>
            <li>Header Files </li>
            <li>Difference Between Header Files “stdio.h” and “stdlib.h”</li>
            <li>Write Your Own Header File</li>
            <li>Macros and their Types </li>
            <li>Interesting Facts About Macros and Preprocessors
            </li>
            <li># and ## Operators</li>
            <li>Print a Variable Name </li>
            <li>Multiline Macros</li>
            <li>Variable Length Arguments for Macros</li>
            <li>typedef versus #define</li>
            <li>Difference Between #define and const </li>
        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>File Handling</h4>
        <ul>
            <li>Basics of File Handling </li>
            <li>fopen() Function</li>
            <li>EOF, getc() and feof() </li>
            <li>fgets() and gets() </li>
            <li>fseek() vs rewind() </li>
            <li>Return Type of getchar(), fgetc() and getc()</li>
            <li>Read/Write Structure From/to a File </li>
            <li>C Program to Print Contents of File</li>
            <li>C Program to Delete a File</li>
            <li>C Program to Merge Contents of Two Files into a Third File</li>
            <li>Difference Between printf, sprintf and fprintf</li>
            <li>Difference Between getc(), getchar(), getch() and getche()</li>
        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Project Work</h4>
    </div>
</div>