
<div
      class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5"
      style="margin-top: 90px"
    >
      <div class="row pt-5">
        <div class="col-lg-7 col-md-12">
          <div class="row">
            <div class="col-md-6 mb-5">
              <h5
                class="text-primary text-uppercase mb-4"
                style="letter-spacing: 5px"
              >
                Get In Touch
              </h5>
              <p>
                <i class="fa fa-map-marker-alt mr-2"></i>C.P. No.-04, Block-E,
                Near Grand MMR Mall, Opp. Laxmi Hospital, Yamunapuram,
                Bulandshahr, UP(203001)
              </p>
              <p>
                <a class="text-white" href="tel:+918810559898"
                  ><i class="fa fa-phone-alt mr-2"></i>+91-8810559898</a
                >
              </p>
              <p>
                <a class="text-white" href="mailto:hello@codingprogram.in"
                  ><i class="fa fa-envelope mr-2"></i>hello@codingprogram.in</a
                >
              </p>
              <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-outline-light btn-square mr-2" href="#"
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-outline-light btn-square mr-2" href="https://www.facebook.com/people/CodingProgram/61554373889920/"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-outline-light btn-square mr-2" href="#"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
                <a class="btn btn-outline-light btn-square" href="https://www.instagram.com/coding_program_institute"
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
            <div class="col-md-6 mb-5">
              <h5
                class="text-primary text-uppercase mb-4"
                style="letter-spacing: 5px"
              >
                Our Courses
              </h5>
              <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" href="#"
                  ><i class="fa fa-angle-right mr-2"></i>Web Design</a
                >
                <a class="text-white mb-2" href="#"
                  ><i class="fa fa-angle-right mr-2"></i>Apps Design</a
                >
                <a class="text-white mb-2" href="#"
                  ><i class="fa fa-angle-right mr-2"></i>Marketing</a
                >
                <a class="text-white mb-2" href="#"
                  ><i class="fa fa-angle-right mr-2"></i>Graphic Design</a
                >
                <a class="text-white" href="#"
                  ><i class="fa fa-angle-right mr-2"></i>SEO</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 mb-5">
          <h5
            class="text-primary text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            Newsletter
          </h5>
          <p>
            We receive a lot of interesting e-mails every day and we would like
            to share some of them with our readers. So please send us your
            e-mail and keep checking back.
          </p>
          <div class="w-100">
            <form [formGroup]="emailForm">
            <div class="input-group">
              <input
                type="email"
                class="form-control border-light"
                style="padding: 30px"
                placeholder="Your Email Address"
                formControlName="email"
              />
              <div class="input-group-append">
                <button class="btn btn-primary px-4" (click)="submit()" [disabled]="emailForm.invalid">Sign Up</button>
              </div>
            </div>
            <div *ngIf="
            getControl['email'].touched &&
            getControl['email'].invalid
          " class="text-danger">
          <div *ngIf="getControl['email'].errors?.['required']">
            Email is required.
          </div>
          <div *ngIf="getControl['email'].errors?.['pattern']">
            invalid Email .
          </div>
          <div *ngIf="getControl['email'].errors?.['length']">
            connot be empty.
          </div>
        </div>
          </form>
          </div>
        </div>
      </div>
      <div class="text-center">
        <p class="m-0">Powered by</p>
       <p><a href="https://surajexpo.com">SurajExpo Software Pvt Ltd.</a></p>

      </div>
    </div>
    <div
      class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
      style="border-color: rgba(256, 256, 256, 0.1) !important"
    >
      <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
          <p class="m-0 text-white">
            &copy; <a routerLink="/">CodingProgram</a>. All Rights Reserved. Designed
            by <a href="https://surajexpo.com">surajexpo</a>
          </p>
        </div>
        <div class="col-lg-6 text-center text-md-right">
          <ul class="nav d-inline-flex">
            <li class="nav-item">
              <a class="nav-link text-white py-0" href="#">Privacy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white py-0" href="#">Terms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white py-0" href="#">FAQs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white py-0" href="#">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>