<div class="container-fluid mt-3" style="margin-bottom: 90px">
    <div class="row">
      <div class="col-lg-7">
        <div class="top-bg bg-secondary rounded p-3">
          <div class="row">
            <div class="col-5">
              <img
                class="img-fluid rounded"
                src="../../../../assets/img/datastructure.png"
                alt=""
              />
            </div>
            <div class="col-7"><h1>Data Structure with Java</h1></div>
          </div>
        </div>
        <div class="description mt-3">
          <h4>Course Description:</h4>
          <p>
            A data structure is a structure used to organize, process,
            retrieve and store data. There are many basic and sophisticated
            data structures, all of which are used to organize data to meet a
            particular purpose. Data structures allow users to access and
            manipulate data in the right way.
          </p>
        </div>
      
    
      </div>
      <div class="col-lg-5 mb-3">
        <app-enroll></app-enroll>
      </div>
    </div>
    <div> <hr class="line">
      <div class="chapter">
        <h4>Introduction</h4>
        <ul>
          <li>Welcome aboard</li>
          <li>Flowcharts and Psuedocode</li>
          <li>	Basics of Programming</li>
          <li>	Operators in JAVA</li>
            <li>Functions</li>
        </ul>
      </div> <hr class="line">
      <div class="chapter">
        <h4>Data structure and Algorithms</h4>
        <ul>
         <li>Arrays</li>
         <li>Bit masking</li>
         <li>Strings</li>
         <li>ArrayList</li>
              </ul>
      </div> <hr class="line">
      <div class="chapter">
        <h4>Recursion & Backtracking</h4>
        <ul>
          <li>	Deep Diving into recursion</li>
          <li>Recursion on Subsets</li>
          <li>	Backtracking</li>
          <li>Time and Space Complexity</li>
        </ul>
      </div> <hr class="line">
      <div class="chapter">
        <h4>	OOPs Concept and Data structures</h4>
        <ul>
         <li>Object Oriented Programming</li>
         <li>Stack</li>
         <li>Queues</li>
         <li>	Linked Listv</li>
         <li>DeQueue</li>
        </ul>
      </div> <hr class="line">
      <div class="chapter">
        <h4>Advanced Data Structures</h4>
        <ul>
         <li>Binary Trees and Binary Search Trees</li>
         <li>	Heap</li>
         <li>Hash map</li>
         <li>Graphs</li>
         <li>Tries</li>
        </ul>
      </div> <hr class="line">
      <div class="chapter">
        <h4>Dynamic programming (DP) and Greedy algorithms</h4>
        <ul>
          <li>One Dimensional Dynamic Programming</li>
         <li>Two Dimensional Dynamic Programming</li>
         <li>DP Algorithms</li>
         <li>Greedy Algorithms</li>
         <li>Java Collection Framework</li>
        </ul>
      </div> <hr class="line">
      <div class="chapter">
        <h4>Interview questions and experiences</h4>
        <ul>
          <li>Top Tech Company Questions</li>
          <li>Google, Amazon, GoJek, Flipkart, Uber, Amex Interview mantras</li>
        </ul>
      </div>
    </div>
  </div>