  <!-- Header Start -->
  <div class="container-fluid page-header" style="margin-bottom: 90px">
    <div class="container">
      <div
        class="d-flex flex-column justify-content-center"
        style="min-height: 300px"
      >
        <h3 class="display-4 text-white text-uppercase">Course Details</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0 text-uppercase">
            <a class="text-white" href="index.html">Home</a>
          </p>
          <i class="fa fa-angle-double-right pt-1 px-3"></i>
          <p class="m-0 text-uppercase">
              <a class="text-white" href="course.html">Course</a>
          </p>
          <i class="fa fa-angle-double-right pt-1 px-3"></i>
          <p class="m-0 text-uppercase">Details</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
  
  <!-- Course Start -->
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="text-center mb-5">
        <h5
          class="text-primary text-uppercase mb-3"
          style="letter-spacing: 5px"
        >
          Course Details
        </h5>
        <h1>The course details will be available soon...</h1>
      </div>
     
    </div>
  </div>
  <!-- course End -->