<div class="container-fluid mt-3" style="margin-bottom: 90px">
    <div class="row">
        <div class="col-lg-7">
            <div class="top-bg bg-secondary rounded p-3">
                <div class="row">
                    <div class="col-5">
                        <img class="img-fluid rounded" src="../../../../assets/img/angular.jpg" alt="" />
                    </div>
                    <div class="col-7">
                        <h1>Angular Framework</h1>
                    </div>
                </div>
            </div>
            <div class="description mt-3">
                <h4>Course Description:</h4>
                <p>
                    Angular is an application-design framework and development platform for creating efficient and
                    sophisticated single-page apps.

                    As a platform, Angular includes:

                    A component-based framework for building scalable web applications
                    A collection of well-integrated libraries that cover a wide variety of features, including routing,
                    forms management, client-server communication, and more
                    A suite of developer tools to help you develop, build, test, and update your code with Angular </p>
            </div>
        </div>
        <div class="col-lg-5 mb-3">
            <app-enroll></app-enroll>
        </div>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Introduction to HTML & CSS Overview</h4>
        <ul>
            <li>A basic overview of HTML & CSS</li>

        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Development Setup & JavaScript Overview</h4>
        <ul>

            <li> Downloading Visual Studio Code </li>
            <li> Downloading Node.js LTS version </li>
            <li> JavaScript overview </li>
            <li>Types and Variables </li>
            <li>Properties, Objects and Functions in JavaScript </li>
        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Understanding TypeScript 4</h4>
        <ul>

            <li> What is TypeScript</li>
            <li>Using Node.js and NPM to download TypeScript</li>
            <li>Configuring TypeScript</li>
            <li> Basic types, Variable Declarations</li>
            <li> Classes, Interfaces</li>

        </ul>
    </div>

    <hr class="line">
    <div class="chapter">
        <h4>Introduction to Angular 15</h4>
        <ul>
            <li>Introduction to Angular 15</li>
            <li> Features in Angular 4/6/8/9/10/11/12/13</li>
            <li> Difference between Angular 1 & Angular 4/6/8/9/10/11/12/13</li>
            <li> Understanding Angular Application Folder Structure</li>
            <li> Architecture of Angular 15 Application</li>
            <li> Understanding Angular CLI</li>
            <li> Creating Angular Application using Angular CLI</li>
            <li> Using Angular CLI Commands</li>
        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Getting Started with Angular 15: Component & Templates</h4>
        <ul>
            <li> Bootstrapping</li>
            <li>Understanding Components</li>
            <li>Building Blocks of Angular Component</li>
            <li>Creating a Component</li>

        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Angular Data Binding & Directives</h4>
        <ul>
            <li>Interpolation &lcub; &#x7B; &#125; &rcub; </li>


            <li> Template Expressions and Statements</li>
            <li> Property Binding</li>
            <li> Event Binding</li>
            <li>Two-way Data Binding</li>
            <li> Understanding Angular Directives</li>
            <li> Component, Structual, and Attribute Directives</li>
            <li>ngIf, ngSwitch, ngFor, ngModel, ngClass, ngStyle, and more..</li>


        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Custom Directives & Angular Pipes</h4>
        <ul>
            <li>Creating Custom Directives in Angular</li>
            <li>Understanding Pipes</li>
            <li>Using Built-In Pipes with/without Parameters</li>
            <li>Chaining Pipes</li>
            <li>Creating Custom Pipes in Angular</li>


        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Angular Temple-Drivers Forms & Validations</h4>
        <ul>
            <li> Understanding Template-Driven Forms</li>
            <li>Importing FormsModule from @angular/forms</li>
            <li> Using FormControl, FormGroup, FormArray</li>
            <li> Doing Validations using Template-Driven Forms</li>

        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Reactive Form & Validations in Angular</h4>
        <ul>
            <li> Understanding Reactive-Driven Forms</li>
            <li> Importing ReactiveFormsModule from @angular/forms</li>
            <li>Using FormControl, FormGroup</li>
            <li> Doing Validations using Reactive-Driven Forms</li>


        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Services and Decency Injection in Angular</h4>
        <ul>
            <li> Understanding Services and Dependency Injection</li>
            <li> Using @Injectable</li>
            <li> Using Dependency Injection and IoC</li>
            <li> Understanding Providers</li>


        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Using Angular HTTPClient
        </h4>
        <ul>
            <li> Importing HttpClient Module</li>
            <li> Using Http Get,Post,Put, and Delete</li>
            <li> Understanding Observables</li>
            <li> Subscribing to an Observable</li>
            <li> Accessing JSON data in Component Template</li>



        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Angular Routing and Navigation
        </h4>
        <ul>
            <li> Understanding Routing</li>
            <li>Creating Routes</li>
            <li> Creating Routes with Parameters</li>
            <li> Working with Child Routes</li>
            <li>Understanding router-outlet</li>
            <li> Navigating between Routes
            </li>
        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Component Interaction & Life Cycle Hooks in Angular </h4>
        <ul>
            <li> Creating Parent and Child Components</li>
            <li> Passing data from Parent to Child Component using @Input Decorator</li>
            <li>Using ngOnChanges for Change Detection</li>
            <li> Passing data to Parent from Child Component using @OutPut Decorator</li>
            <li>Using Local Variables and @ViewChild</li>

        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Creating RESTful API with Node.js 16</h4>
        <ul>
            <li> Understanding HTTP Basics</li>
            <li>API Basics</li>
            <li> JSON basics</li>
            <li> Creating Action Methods with GET,POST,PUT, and DELETE</li>
            <li> Writing CRUD operation methods</li>
            <li> Using PostMan/Fiddler to Test the API's</li>

        </ul>
    </div>
    <hr class="line">
    <div class="chapter">
        <h4>Angular 15 Real-Time Project</h4>
    </div>
</div>